$mobile_width: 600px;

$barlow: Barlow;
$nunito: Nunito;


$color--dark-grey-blue: #2b4965;
$color--blush: #f59d86;

$primary: #ffffff;
$secondary: #9b9b9b;
$accent: #f2f0f6;
$error: $color--blush;
$info: #9c83cb;
$success: #83d8b6;
$warning: #FFC107;
$white: #ffffff;
$light: #f9f9f9;

