$mobile_width: 600px;

$lato: Lato;
$raleway: Raleway;


$color--dark-grey-blue: #2b4965;
$color--blush: #f59d86;

$primary: #5edcd0;
$secondary: #f8f8f8;
$accent: #f2f0f6;
$error: $color--blush;
$info: #9c83cb;
$success: #83d8b6;
$warning: #FFC107;
$white: #ffffff;
$light: #f9f9f9;
